<% content_for :header do %>
  <%= link_to t('pages.plural'), admin_pages_path %>
    &raquo; <%= t('pages.editing') %>
  <%=  h(@page.title) %>
<% end %>

<%= render :partial => 'form' %>

<p>
  <%= link_to t('gmcommerce.common.show'), admin_page_url(@page), :class=>"show_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_pages_path, :class=>"view_all_link" %>
</p>
