<% content_for :header do %>
  <%= link_to t('pages.plural'), admin_pages_path %>
<% end %>

<% form_for @search do |f| %>
  <table>
    <tr><td>Title</td><td><%= f.text_field :title_like, :size => 13 %></td></tr>
    <tr><td colspan="2"><%= f.submit "Find" %></td></tr>
  </table>
<% end %>
<table class="index">
  <tr>
    <th><%= order @search, :by => :title %></th>
    <th>Identifier</th>
  </tr>
  <% for page in @pages %>
    <tr>
      <td><%=h page.title %></td>
      <td><%=h page.identifier %></td>
      <td class="action_cell show_cell"><%= link_to t('gmcommerce.common.show'), admin_page_url(page), :class=>"show_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.edit'), edit_admin_page_path(page), :class=>"edit_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.destroy'), admin_page_url(page), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @pages %>
<p><%= link_to "New Page", new_admin_page_path %></p>
