<% content_for :header do %>
  <%= link_to h(@product.name), admin_product_path(@product)%>
  &raquo;
  <%= link_to t('comments.plural'), admin_product_comments_path(@product) %>
  &raquo;
    <%= t('comments.new')%>
<% end %>

<%= render :partial => 'form' %>

<p><%= link_to t('gmcommerce.common.view_all'), admin_product_comments_path(@product), :class=>"view_all_link view_all_comments_link" %></p>
