<% title "Option Groups" %>
<% form_for @search do |f| %>
  <table>
    <tr><td>Name</td><td><%= f.text_field :name_like, :size => 13 %></td></tr>
    <tr><td colspan="2"><%= f.submit "Find" %></td></tr>
  </table>
<% end %>
<table class="index">
  <tr>
    <th><%= order @search, :by => :name %></th>
  </tr>
  <% for option_group in @option_groups %>
    <tr>
      <td><%=h option_group.name %></td>
      <td><%= link_to "Show", admin_option_group_path(option_group) %></td>
      <td><%= link_to "Edit", edit_admin_option_group_path(option_group) %></td>
      <td><%= link_to "Destroy", admin_option_group_path(option_group), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @option_groups %>
<p><%= link_to "New Option Group", new_admin_option_group_path %></p>
