<% title "Option Group" %>

<p>
  <strong>Name:</strong>
  <%=h @option_group.name %>
</p>
<p>
  <strong>Options:</strong>
  <ul>
    <% for o in @option_group.options %>
    <li><%=h o.name %> (<%=h o.code %>)</li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to t('gmcommerce.common.edit'), edit_admin_option_group_path(@option_group), :class=>"edit_link" %> |
  <%= link_to t('gmcommerce.common.destroy'), admin_option_group_path(@option_group), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_option_groups_path, :class=>"view_all_link" %>
</p>
