<% content_for :header do %>
  <%= link_to t('producers.plural'), admin_producers_path %>
    &raquo; <%= t('producers.editing') %>
  <%=  h(@producer.name) %>
<% end %>

<%= render :partial => 'form' %>

<p>
  <%= link_to t('gmcommerce.common.show'), admin_producer_url(@producer), :class=>"show_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_producers_path, :class=>"view_all_link" %>
</p>
