<% title "Producers" %>
<% form_for @search do |f| %>
  <table>
    <tr><td>Name</td><td><%= f.text_field :name_like, :size => 13 %></td></tr>
    <tr><td colspan="2"><%= f.submit "Find" %></td></tr>
  </table>
<% end %>
<table class="index">
  <tr>
    <th>Name</th>
  </tr>
  <% for producer in @producers %>
    <tr>
      <td><%=h producer.name %></td>
      <td class="action_cell show_cell"><%= link_to t('gmcommerce.common.show'), admin_producer_url(producer), :class=>"show_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.edit'), edit_admin_producer_path(producer), :class=>"edit_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.destroy'), admin_producer_url(producer), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @producers %>
<p><%= link_to "New Producer", new_admin_producer_path %></p>
