<% semantic_form_for [:admin, @order] do |f| %>
  <%= f.error_messages %>
  <%= f.input :number, :hint=>"secret key: #{h(@order.secret)}" %>
  <p>
    <strong>Status: </strong>
    <%=h @order.status %>
  </p>
  <p>
    <strong>Order value:</strong>
    <%=h @order.order_value %>
  </p>
  <p>
    <strong>Shipment cost:</strong>
    <%=h @order.shipment_cost %>
    <br />
  </p>
  <%= f.input :comment, :input_html=>{:rows=>5} %>
  <%= f.input :shipment %>
  <%= f.buttons %>
<% end %>
