<% title "Order" %>

<p>
  <strong>Number:</strong>
  <%=h @order.number %> (<small>Secret key: <%=h @order.secret %> </small>)
</p>
<p>
  <strong>Status:</strong>
  <%=h @order.status %>
</p>
<p>
  <strong>Order value:</strong>
  <%=h @order.order_value %>
</p>
<p>
  <strong>Shipment cost:</strong>
  <%=h @order.shipment_cost %>
</p>
<p>
  <strong>Comment:</strong>
  <%=h @order.comment %>
</p>
<p>
  <strong>Shipment:</strong>
  <%=h @order.shipment %>
</p>

<p>
  <%= link_to t('gmcommerce.common.edit'), edit_admin_order_path(@order), :class=>"edit_link" %> |
  <%= link_to t('gmcommerce.common.destroy'), admin_order_path(@order), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_orders_path, :class=>"view_all_link" %>
</p>
