<% content_for :header do %>
  <%= link_to t('contacts.plural'), admin_contacts_path %>
<% end %>


<table class="index">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <% for contact in @contacts %>
    <tr>
      <td><%=h contact.first_name %></td>
      <td><%=h contact.last_name %></td>
      <td class="action_cell show_cell"><%= link_to t('gmcommerce.common.show'), admin_contact_path(contact), :class=>"show_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.edit'), edit_admin_contact_path(contact), :class=>"edit_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.destroy'), admin_contact_path(contact), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Contact", new_admin_contact_path %></p>
