<% title "Property Types" %>

<% form_for @search do |f| %>
  <table>
    <tr><td>Name</td><td><%= f.text_field :name_like, :size => 13 %></td></tr>
    <tr><td colspan="2"><%= f.submit "Find" %></td></tr>
  </table>
<% end %>

<table class="index">
  <tr>
    <th><%= order @search, :by => :name %></th>
    <th><%= order @search, :by => :identifier %></th>
    <th>Field Type</th>
  </tr>
  <% for property_type in @property_types %>
    <tr>
      <td><%=h property_type.name %></td>
      <td><%=h property_type.identifier %></td>
      <td><%=h property_type.field_type %></td>
      <td class="action_cell show_cell"><%= link_to t('gmcommerce.common.show'), admin_property_type_path(property_type), :class=>"show_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.edit'), edit_admin_property_type_path(property_type), :class=>"edit_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.destroy'), admin_property_type_path(property_type), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @property_types %>

<p><%= link_to "New Property Type", new_admin_property_type_path %></p>
