<% title "Property Type" %>

<p>
  <strong>Name:</strong>
  <%=h @property_type.name %>
</p>
<p>
  <strong>Identifier:</strong>
  <%=h @property_type.identifier %>
</p>
<p>
  <strong>Field Type:</strong>
  <%=h @property_type.field_type %>
</p>

<p>
  <%= link_to t('gmcommerce.common.edit'), edit_admin_property_type_path(@property_type), :class=>"edit_link" %> |
  <%= link_to t('gmcommerce.common.destroy'), admin_property_type_path(@property_type), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_property_types_path, :class=>"view_all_link" %>
</p>
