<% content_for :header do %>
  <%= link_to t('shipments.plural'), admin_shipments_path %>
    &raquo; <%= t('shipments.editing') %>
  <%=  h(@shipment.name) %>
<% end %>

<%= render :partial => 'form' %>

<p>
  <%= link_to t('gmcommerce.common.show'), admin_shipment_path(@shipment), :class=>"show_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_shipments_path, :class=>"view_all_link" %>
</p>
