<% title "Shipments" %>

<% form_for @search do |f| %>
  <table>
    <tr><td>Name</td><td><%= f.text_field :name_like, :size => 13 %></td></tr>
    <tr><td colspan="2"><%= f.submit "Find" %></td></tr>
  </table>
<% end %>

<table class="index">
  <tr>
    <th><%= order @search, :by => :name %></th>
    <th><%= order @search, :by => :cost %></th>
    <th><%= order @search, :by => :active %></th>
    <th><%= order @search, :by => :free_from_cart_value %></th>
  </tr>
  <% for shipment in @shipments %>
    <tr>
      <td><%=h shipment.name %></td>
      <td><%=h shipment.cost %></td>
      <td><%=h shipment.active %></td>
      <td><%=h shipment.free_from_cart_value %></td>
      <td class="action_cell show_cell"><%= link_to t('gmcommerce.common.show'), admin_shipment_url(shipment), :class=>"show_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.edit'), edit_admin_shipment_path(shipment), :class=>"edit_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.destroy'), admin_shipment_url(shipment), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @shipments %>
<p><%= link_to "New Shipment", new_admin_shipment_path %></p>
