<% title "Shipments" %>

<% form_for @search do |f| %>
  <table>
    <tr><td>Name</td><td><%= f.text_field :name_like, :size => 13 %></td></tr>
    <tr><td colspan="2"><%= f.submit "Find" %></td></tr>
  </table>
<% end %>

<table class="index">
  <tr>
    <th><%= order @search, :by => :name %></th>
    <th><%= order @search, :by => :cost %></th>
    <th><%= order @search, :by => :active %></th>
    <th><%= order @search, :by => :free_from_cart_value %></th>
  </tr>
  <% for shipment in @shipments %>
    <tr>
      <td><%=h shipment.name %></td>
      <td><%=h shipment.cost %></td>
      <td><%=h shipment.active %></td>
      <td><%=h shipment.free_from_cart_value %></td>
      <td><%= link_to "Show", admin_shipment_url(shipment) %></td>
      <td><%= link_to "Edit", edit_admin_shipment_path(shipment) %></td>
      <td><%= link_to "Destroy", admin_shipment_url(shipment), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @shipments %>
<p><%= link_to "New Shipment", new_admin_shipment_path %></p>
