<% content_for :header do %>
  <%= link_to t('categories.plural'), admin_category_path %>
    &raquo; <%= t('categories.editing') %>
  <%=  h(@category.name) %>
<% end %>

<%= render :partial => 'form' %>

<p>
  <%= link_to t('gmcommerce.common.show'), admin_category_path(@category), :class=>"show_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_categories_path, :class=>"view_all_link" %>
</p>
