<% title "Categories" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for category in @categories %>
    <tr>
      <td><%=h category.name %></td>
      <td><%= link_to "Show", admin_category_path(category) %></td>
      <td><%= link_to "Edit", edit_admin_category_path(category) %></td>
      <td><%= link_to "Destroy", admin_category_path(category), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Category", new_admin_category_path %></p>
