<% title "Categories" %>

<table class="index">
  <tr>
    <th>Name</th>
  </tr>
  <% for category in @categories %>
    <tr>
      <td><%=h category.name %></td>
      <td><%= link_to t('gmcommerce.common.show'), admin_category_path(category) %></td>
      <td><%= link_to t('gmcommerce.common.edit'), edit_admin_category_path(category), :class=>"edit_link" %></td>
      <td><%= link_to t('gmcommerce.common.destroy'), admin_category_path(category), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Category", new_admin_category_path %></p>
