<% semantic_form_for [:admin, @product], :html=>{:multipart=>true} do |f| %>
  <% content_for :head do %>
     <script type="text/javascript">
       var nested_forms = new Array();
       $(document).ready(function(){
         <%= "nested_forms['image'] = '#{generate_template(f, :images)}';" %>
         <% unless f.object.new_record? %>
            <%= "nested_forms['product_variation'] = '#{generate_template(f, :product_variations, :object=>f.object.new_product_variation)}';" %>
         <% end %>
         $('.add_nested_item').click(function(){
           var app = nested_forms[this.rel];
           app = replace_ids(app, this.rel);
           $('#'+this.rel+'s_fields').append(app);
           $('#product_variations_fields li.select select').removeAttr('multiple');
           return false;
         });
         // HACK: for some reason passing :multiple=>false to formtastic does not work
         $('#product_variations_fields li.select select').removeAttr('multiple');

       });
     </script>
  <% end %>


  <%= f.error_messages %>
  <%= f.input :name %>
  <%= f.input :producer %>
  <%= f.input :sku %>
  <%= f.input :price, :input_html=>{:size=>10, :class=>"price_field"} %>
  <%= f.input :is_gift %>
  <%= f.input :description, :input_html=>{:rows=>5} %>
  <%= f.input :meta_keywords, :hint=>"This tag should not contain no more than 30-35 words separated by comma [,] (e.g. house,home, etc.), use lower case for all keywords and pluralize all keywords id possible." %>
  <%= f.input :meta_description, :hint=>"The length of this tag should contain approx. 20-25 words and should not exceed more than 150-160 characters (including white spaces)." %>
  <%= f.input :categories, :collection=>options_for_category_tree(Category.roots), :as=>:select, :multiple=>true %>
  <hr />
  <% f.inputs :name => t('products.form.images'), :id => "images" do %>
    <div id="images_fields">
     <% f.semantic_fields_for :images do |fp| %>
         <%= render :partial=>"image", :locals=>{:f=>fp}%>
     <% end %>
    </div>
    <a name="image"></a>
    <%= link_to t('products.form.add_image'), '#image', :class => "add_nested_item", :rel => "image" %><br />
  <% end %>
  <% f.inputs :name => t('products.form.properties'), :id => "properties" do %>
    <div id="properties">
      <% f.semantic_fields_for :properties do |fp| %>
        <%= render :partial=>"property", :locals=>{:f=>fp}%>
      <% end %>
    </div>
  <% end %>
  <% f.inputs :name => t('products.form.option_groups'), :id => "option_groups" do %>
    <%= f.input :option_groups, :as=>:check_boxes, :collection=>OptionGroup.all.map{|og| [h(og.name), og.id]}, :hint=>"Changes will apply after save" %>
    <% if f.object.option_groups.count > 0 %>
       <hr/>
       <strong><%= t('products.form.product_variations') %></strong>
       <div id="product_variations_fields">
         <% f.semantic_fields_for :product_variations do |fp| %>
           <%= render :partial=>"product_variation", :locals=>{:f=>fp}%>
         <% end %>
       </div>
       <a name="product_variation"></a>
       <%= link_to t('products.form.add_variation'), '#product_variation', :class => "add_nested_item", :rel => "product_variation" %><br />
    <% end %>
  <% end %>
  <%= f.buttons %>
<% end %>
