<% content_for :header do %>
  <%= link_to t('products.plural'), admin_products_path %>
    &raquo; <%= t('products.editing') %>
  <%=  h(@product.name) %>
<% end %>

<%= render :partial => 'form' %>

<p>
  <%= link_to t('gmcommerce.common.show'), admin_product_path(@product), :class=>"show_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_products_path, :class=>"view_all_link" %>
</p>
