<% title "Products" %>


<% form_for @search do |f| %>
  <table>
    <tr><td>Product name</td><td><%= f.text_field :name_like, :size => 13 %></td></tr>
    <tr><td>SKU</td><td><%= f.text_field :sku_like, :size=>13%></td></tr>
    <tr><td colspan="2"><%= f.submit "Find" %></td></tr>
  </table>
<% end %>


<table class="index">
  <tr>
    <th><%= order @search, :by => :name %></th>
    <th><%= order @search, :by => :sku %></th>
    <th><%= order @search, :by => :price %></th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%=h product.name %></td>
      <td><%=h product.sku %></td>
      <td><%=h product.price %></td>
      <td><%= link_to "Show", admin_product_path(product) %></td>
      <td><%= link_to "Edit", edit_admin_product_path(product) %></td>
      <td><%= link_to "Destroy", admin_product_path(product), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @products %>

<p><%= link_to "New Product", new_admin_product_path %></p>

<% content_for :sidebar do %>
  <%= link_to "Property types", admin_property_types_path %> <br />
  <%= link_to "Product templates", admin_product_templates_path %> <br />
  <%= link_to "Option groups", admin_option_groups_path %> <br />
    <br />
  <strong>Create product from template:</strong>
  <ul>
    <% # I know, that below line is evil, but it can be like this for a while %>
    <% for pt in ProductTemplate.all %>
      <li><%= link_to h(pt.template_name), new_admin_product_path(:template=>pt.id)%></li>
    <% end %>
  </ul>
<% end %>
