<% title "Product" %>

<p>
  <strong>Name:</strong>
  <%=h @product.name %>
</p>
<p>
  <strong>Sku:</strong>
  <%=h @product.sku %>
</p>
<p>
  <strong>Price:</strong>
  <%=h @product.price %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @product.description %>
</p>
<p>
  <strong>Meta Keywords:</strong>
  <%=h @product.meta_keywords %>
</p>
<p>
  <strong>Meta Description:</strong>
  <%=h @product.meta_description %>
</p>
<p>
  <strong>Images:</strong>
  <% unless @product.images.empty? %>
    <ul>
    <% for i in @product.images %>
      <li><%= image_tag i.attachment.url(:list) %> <%=h i.attachment_file_name %></li>
    <% end %>
    </ul>
  <% end %>
</p>

<p>
  <%= link_to "Edit", edit_admin_product_path(@product) %> |
  <%= link_to "Destroy", admin_product_path(@product), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_products_path %>
</p>
