<% content_for :header do %>
  <%= link_to t('products.plural'), admin_products_path %>
    &raquo;
  <%= link_to h(@product.name), admin_product_path(@product) %>
<% end %>

<p>
  <strong><%= t('activerecord.attributes.product.name')%>:</strong>
  <%=h @product.name %>
</p>
<p>
  <strong><%= t('activerecord.attributes.product.sku')%>:</strong>
  <%=h @product.sku %>
</p>
<p>
  <strong><%= t('activerecord.attributes.product.price')%>:</strong>
  <%=h @product.price %>
</p>
<p>
  <strong><%= t('activerecord.attributes.product.description')%>:</strong>
  <%=h @product.description %>
</p>
<p>
  <strong><%= t('activerecord.attributes.product.meta_keywords')%>:</strong>
  <%=h @product.meta_keywords %>
</p>
<p>
  <strong><%= t('activerecord.attributes.product.meta_description')%>:</strong>
  <%=h @product.meta_description %>
</p>
<p>
  <strong><%= t('products.form.images')%>:</strong>
  <% unless @product.images.empty? %>
    <ul>
    <% for i in @product.images %>
      <li><%= image_tag i.attachment.url(:list) %> <%=h i.attachment_file_name %></li>
    <% end %>
    </ul>
  <% end %>
</p>

<p>
  <%= link_to t('gmcommerce.common.edit'), edit_admin_product_path(@product), :class=>"edit_link" %> |
  <%= link_to t('gmcommerce.common.destroy'), admin_product_path(@product), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_products_path, :class=>"view_all_link" %>
</p>
