<% content_for :header do %>
  <%= link_to t('gift_discounts.plural'), admin_gift_discounts_path %>
    &raquo; <%= t('gift_discounts.editing') %>
  <%=  h(@gift_discount) %>
<% end %>

<%= render :partial => 'form' %>

<p>
  <%= link_to t('gmcommerce.common.show'), admin_gift_discount_path(@gift_discount), :class=>"show_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_gift_discounts_path, :class=>"view_all_link" %>
</p>
