<% content_for :header do %>
  <%= link_to t('gift_discounts.plural'), admin_gift_discounts_path %>
<% end %>

<% form_for @search do |f| %>
  <table>
    <tr><td><%= t('activerecord.attributes.gift_discount.name') %></td><td><%= f.text_field :name_like, :size => 13 %></td></tr>
    <tr><td colspan="2"><%= f.submit "Find" %></td></tr>
  </table>
<% end %>
<table class="index">
  <tr>
    <th><%= order @search, :by => :name, :as=>t('activerecord.attributes.gift_discount.name') %></th>
    <th><%= order @search, :by => :discount_value, :as=>t('activerecord.attributes.gift_discount.discount_value') %></th>
    <th><%= order @search, :by => :from_cart_value, :as=>t('activerecord.attributes.gift_discount.from_cart_value') %></th>
    <th><%= order @search, :by => :discounted_products_number, :as=>t('activerecord.attributes.gift_discount.discounted_products_number') %></th>
  </tr>
  <% for gift_discount in @gift_discounts %>
    <tr>
      <td><%=h gift_discount.name %></td>
      <td><%=h gift_discount.discount_value %></td>
      <td><%=h gift_discount.from_cart_value %></td>
      <td><%=h gift_discount.discounted_products_number %></td>
      <td class="action_cell show_cell"><%= link_to t('gmcommerce.common.show'), admin_gift_discount_path(gift_discount), :class=>"show_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.edit'), edit_admin_gift_discount_path(gift_discount), :class=>"edit_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.destroy'), admin_gift_discount_path(gift_discount), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @gift_discounts %>
<p><%= link_to "New Gift Discount", new_admin_gift_discount_path %></p>
