<% content_for :header do %>
  <%= link_to t('gift_discounts.plural'), admin_gift_discounts_path %>
    &raquo;
  <%= link_to h(@gift_discount.name), admin_gift_discount_path(@gift_discount) %>
<% end %>
<p>
  <strong><%= t('activerecord.attributes.gift_discount.name') %>:</strong>
  <%=h @gift_discount.name %>
</p>
<p>
  <strong><%= t('activerecord.attributes.gift_discount.discount_value') %>:</strong>
  <%=h @gift_discount.discount_value %>
</p>
<p>
  <strong><%= t('activerecord.attributes.gift_discount.from_cart_value') %>:</strong>
  <%=h @gift_discount.from_cart_value %>
</p>
<p>
  <strong><%= t('activerecord.attributes.gift_discount.discounted_products_number') %>:</strong>
  <%=h @gift_discount.discounted_products_number %>
</p>

<p>
  <%= link_to t('gmcommerce.common.edit'), edit_admin_gift_discount_path(@gift_discount), :class=>"edit_link" %> |
  <%= link_to t('gmcommerce.common.destroy'), admin_gift_discount_path(@gift_discount), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %> |
  <%= link_to t('gmcommerce.common.view_all'), admin_gift_discounts_path, :class=>"view_all_link" %>
</p>
