<% content_for :header do %>
  <%= link_to t('product_templates.plural'), admin_product_templates_path %>
<% end %>

<% form_for @search do |f| %>
  <table>
    <tr><td>Template name</td><td><%= f.text_field :template_name_like, :size => 13 %></td></tr>
    <tr><td colspan="2"><%= f.submit "Find" %></td></tr>
  </table>
<% end %>
<table class="index">
  <tr>
    <th><%= order @search, :by => :template_name %></th>
  </tr>
  <% for product_template in @product_templates %>
    <tr>
      <td><%=h product_template.template_name %></td>
      <td class="action_cell show_cell"><%= link_to t('gmcommerce.common.show'), admin_product_template_path(product_template), :class=>"show_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.edit'), edit_admin_product_template_path(product_template), :class=>"edit_link" %></td>
      <td class="action_cell"><%= link_to t('gmcommerce.common.destroy'), admin_product_template_path(product_template), :confirm => 'Are you sure?', :method => :delete, :class=>"destroy_link" %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @product_templates %>
<p><%= link_to "New Product Template", new_admin_product_template_path %></p>
